#kc-form-login {
	display: none;
	visibility: hidden;
}

.login-pf body {
    background: 000000;
    background-size: cover;
    height: 100%;
    background-image: url(../img/bg.jpg);
}

div.scd-logo {
    background-image: url(../img/SCD.svg);
    background-repeat: no-repeat;
    width: 550px;
    height: 100px;
    background-size: contain;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
}

div.scd-logo span {
    display: none;
}
